{{#resume.basics}}
  <div id="info" class="media-object stack-for-small">
    {{#if picture}}
      <div class="media-object-section middle">
        <div class="thumbnail">
          <img src="{{picture}}" alt="Photo of {{name}}" class="avatar" itemprop="image">
        </div>
      </div>
    {{/if}}
    <div class="media-object-section">
      <h1 itemprop="name">{{name}}</h1>
      <h2 class="subheader" itemprop="description">{{label}}</h2>
      <ul class="bar">
        {{#if phone}}
          <li class="phone">
            &nbsp;
            <a href="tel://{{phone}}" class="link-disguise info" itemprop="telephone">{{phone}}</a>
          </li>
        {{/if}}
        {{#if website}}
          <li class="website">
            &nbsp;
            <a href="{{website}}" target="_blank" itemprop="url">{{website}}</a>
          </li>
        {{/if}}
        {{#if email}}
          <li class="email">
            &nbsp;
            <a href="mailto:{{email}}" class="link-disguise info" itemprop="email">{{email}}</a>
          </li>
        {{/if}}
      </ul>
      {{#location}}
        <!-- <div class="row"> -->
        <div id="location" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
          <ul class="bar">
            {{#if address}}
              <li itemprop="streetAddress" class="address">
                {{address}}
              </li>
            {{/if}}
            {{#if city}}
              <li itemprop="addressLocality" class="city">{{city}}</li>
            {{/if}}
            {{#if region}}
              <li itemprop="addressRegion" class="region">{{region}}</li>
            {{/if}}
            {{#if postalCode}}
              <li itemprop="postalCode" class="postalCode">{{postalCode}}</li>
            {{/if}}
            {{#if countryCode}}
              <li itemprop="addressCountry" class="countryCode">{{countryCode}}</li>
            {{/if}}
          </ul>
        </div>
      {{/location}}
      {{#if profiles.length}}
        <div id="profiles" class="rounded-social-buttons">
          {{#each profiles}}
            {{#if network}}
              <a href="{{url}}" itemprop="sameAs" class="social-button {{santify url network}}"
                target="_blank">
                <span class="socicon socicon-{{santify url network}}"></span>
                <span></span>
              </a>
            {{/if}}
          {{/each}}
        </div>
      {{/if}}
    </div>
  </div>
{{/resume.basics}}
