{{#if resume.skills.length}}
  <div id="skills" itemscope itemtype="http://schema.org/ListItem">
    <h2 itemprop="name" itemref="#skills">Skills</h2>
    <div class="row align-spaced">
      {{#each resume.skills}}
        <!-- <div class="small-6 medium-4 large-3 columns"> -->
        <div class="column small-12 medium-4 large-3">
          <div class="callout-card {{map level}} radius">
            {{#if level}}
              <div class="card-label">
                <div class="label-text">{{level}}</div>
              </div>
            {{/if}}
            <div class="callout-card-content">
            {{#if name}}
              <h3 class="small text-center name">{{name}}</h3>
              <!-- <meta name="position" content="{{@index}}" /> -->
            {{/if}}
            {{#if keywords.length}}
                <ul class="csv keywords">
                  {{#each keywords}}
                    <!-- <meta name="position" content="{{@index}}" /> -->
                    <li itemprop="item">{{.}}</li>
                  {{/each}}
                </ul>
            {{/if}}
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
{{/if}}
