{{#if resume.skills.length}}
  <div id="skills" itemscope itemtype="http://schema.org/ListItem">
    <h2 itemprop="name" itemref="#skills">Skills</h2>
    <div class="row">
      {{#each resume.skills}}
        <div class="small-12 medium-4 large-3 columns">
          <div class="callout-card {{level}} radius">
            {{#if level}}
              <div class="card-label">
                <div class="label-text">{{level}}</div>
              </div>
            {{/if}}
            {{#if keywords.length}}
              <div class="callout-card-content">
                {{#if name}}
                  <h3 class="text-center name">{{name}}</h3>
                  <!-- <meta name="position" content="{{@index}}" /> -->
                {{/if}}
                <ul class="csv keywords">
                  {{#each keywords}}
                    <!-- <meta name="position" content="{{@index}}" /> -->
                    <li itemprop="item">{{.}}</li>
                  {{/each}}
                </ul>
            {{/if}}
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
{{/if}}
