{{#if resume.work.length}}
  <div id="work">
    <h2>Work Experience</h2>
    {{#each resume.work}}
      <div class="row" itemprop="worksFor" itemscope itemtype="http://schema.org/OrganizationRole">
        <meta itemprop="startDate" content="{{startDate}}" />
        {{#if endDate}}
          <meta itemprop="endDate" content="{{endDate}}" />
        {{/if}}
        <div itemprop="worksFor" itemscope itemtype="http://schema.org/Organization" class="callout-card radius primary">
          <div class="row">
            <div class="callout-card-content">
              <div class="row">
                {{#if position}}
                  <div class="small-12 medium-5 large-5 columns">
                    <h4 class="position">{{position}}</h4>
                  </div>
                {{else}}
                  <div class="small-12 medium-5 large-5 columns"></div>
                {{/if}}
                {{#if company}}
                  <div class="small-12 medium-5 large-5 columns">
                    {{#if website}}
                      <a itemprop="url" href="{{website}}" target="_blank"><h3 class="small" itemprop="name">{{company}}</h3></a>
                    {{else}}
                      <h3 class="small" itemprop="name">{{company}}</h3>
                    {{/if}}
                  </div>
                {{else}}
                  <div class="small-12 medium-5 large-5 columns"></div>
                {{/if}}
                <div class="small-12 medium-2 large-2 columns">
                  <p class="dates">
                    {{#if startDate}}
                      <span class="startDate">{{prettifyDate startDate}}</span>&nbsp;&ndash;&nbsp;
                    {{/if}}
                    {{#if endDate}}
                      <span class="endDate">{{prettifyDate endDate}}</span>
                    {{else}}
                      <span class="endDate">Present</span>
                    {{/if}}
                  </p>
                </div>
              </div>
              <div class="row">
                {{#if summary}}
                  <div class="small-12 medium-12 large-12 columns">
                    <p class="summary">{{summary}}</p>
                  </div>
                {{/if}}
              </div>
              {{#if highlights.length}}
                <div class="row">
                  <div class="small-12 medium-12 large-12 columns">
                    <ul class="highlights">
                      {{#each highlights}}
                        <li>{{.}}</li>
                      {{/each}}
                    </ul>
                  </div>
                </div>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
{{/if}}
