<!DOCTYPE html>
<!--
  This awesome resume was created {{#if resume.basics.name}}by {{resume.basics.name}} {{/if}}with the JSON resume schema: https://jsonresume.org/
  It uses the Foundation Zurb theme: https://github.com/DavidEngland/jsonresume-theme-zurb.git
-->
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{resume.basics.name}}</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Titillium+Web:400,400i,700,700i" rel="stylesheet">
    <!-- <link href="assets/css/foundation-icons.css" rel="stylesheet" > -->
    <!-- <link href="https://cdn.jsdelivr.net/foundation/6.2.1/foundation.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.1/foundation.min.css" />
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.1/foundation.min.css" integrity="sha256-haz1W/Eq5M2zCNvLT8+8rjKxmMvlrNJCHuiELtL8/a4=" crossorigin="anonymous" /> -->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
    <style>
        {{{css }}}
    </style>
</head>

<body>
    <div class="column row">
        <div id="resume" itemscope itemtype="http://schema.org/Person">
            {{#resume.basics}}
                <div class="row">
                    <div class="small-12 medium-6 columns">
                        <h1 itemprop="name">{{name}}</h1>
                        <h2 itemprop="description">{{label}}</h2>
                    </div>
                    {{#if picture}}
                      <div class="small-12 medium-6 columns">
                        <img src="{{picture}}" alt="Photo of {{name}}" class="avatar" itemprop="image">
                      </div>
                      {{/if}}
                </div>
                <div class="row">
                    {{#location}}
                        <!-- <div class="row"> -->
                        <div class="small-12 medium-6 large-6 columns">
                            <div id="location" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress" class="callout-card radius">
                                <div class="callout-card-content">
                                    {{#if address}}
                                        <div itemprop="streetAddress" class="address">
                                            {{address}}
                                        </div>
                                    {{/if}}
                                    {{#if city}}
                                        <span itemprop="addressLocality" class="city">{{city}},&nbsp;</span>
                                    {{/if}}
                                    {{#if region}}
                                        <span itemprop="addressRegion" class="region">{{region}}</span>
                                    {{/if}}
                                    {{#if postalCode}}
                                        <span itemprop="postalCode" class="postalCode">&nbsp;&nbsp;{{postalCode}}</span>
                                    {{/if}}
                                    {{#if countryCode}}
                                        <span itemprop="addressCountry" class="countryCode">{{countryCode}}</span>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                        <!-- </div> -->
                    {{/location}}
                    <div class="small-12 medium-6 large-6 columns">
                        <div id="basics" class="callout-card radius">
                            <div class="contact callout-card-content">
                                {{#if website}}
                                    <div class="website">
                                        <a href="{{website}}" target="_blank" itemprop="url">&nbsp;{{website}}</a>
                                    </div>
                                {{/if}}
                                {{#if email}}
                                    <div class="email">
                                        <a href="mailto:{{email}}" itemprop="email">&nbsp;{{email}}</a>
                                    </div>
                                {{/if}}
                                {{#if phone}}
                                    <div class="phone">
                                        <a href="tel://{{phone}}" class="link-disguise info" itemprop="telephone">&nbsp;{{phone}}</a>
                                    </div>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
                {{#if profiles.length}}
                    <div class="row">
                        <div id="profiles">
                            {{#each profiles}}
                                {{#if network}}
                                    <a href="{{url}}" itemprop="sameAs" class="icon-button {{toLower network}}" target="_blank"><i class="fi-social-{{toLower network}}"></i><span></span></a>
                                {{/if}}
                            {{/each}}
                        </div>
                    </div>
                {{/if}}
            {{/resume.basics}}
            {{#if resume.skills.length}}
                <div id="skills">
                    <h2>Skills</h2>
                    <div class="row">
                        {{#each resume.skills}}
                            <div class="medium-6 large-3 columns">
                                <div class="callout-card {{level}} radius">
                                    {{#if level}}
                                        <div class="card-label">
                                            <div class="label-text">{{level}}</div>
                                        </div>
                                    {{/if}}
                                    {{#if keywords.length}}
                                        <div class="callout-card-content">
                                            {{#if name}}
                                                <h3 class="text-center name">
                                                {{name}}
                                            </h3>
                                            {{/if}}
                                            <ul class="keywords">
                                                {{#each keywords}}
                                                    <li>{{.}}</li>
                                                {{/each}}
                                            </ul>
                                    {{/if}}
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            {{/if}}
            {{#if resume.work.length}}
                <div id="work">
                    <h2>Work Experience</h2>
                    {{#each resume.work}}
                        <div class="row" itemprop="worksFor" itemscope itemtype="http://schema.org/OrganizationRole">
                          <meta itemprop="startDate" content="{{startDate}}" />
                          {{#if endDate}}<meta itemprop="endDate" content="{{endDate}}" />{{/if}}
                            <div itemprop="worksFor" itemscope itemtype="http://schema.org/Organization" class="callout-card radius primary">
                                <div class="row">
                                    <div class="callout-card-content">
                                        <div class="row">
                                            {{#if position}}
                                                <div class="small-12 medium-5 large-5 columns">
                                                    <span class="position">{{position}}</span>
                                                </div>
                                            {{else}}
                                                <div class="small-12 medium-5 large-5 columns"></div>
                                            {{/if}}
                                            {{#if company}}
                                                <div class="small-12 medium-4 large-4 columns">
                                                    {{#if website}}
                                                        <a itemprop="url" href="{{website}}" target="_blank"><span itemprop="name">{{company}}</span></a>
                                                    {{else}}
                                                        <span itemprop="name">{{company}}</span>
                                                    {{/if}}
                                                </div>
                                            {{else}}
                                                <div class="small-12 medium-4 large-4 columns"></div>
                                            {{/if}}
                                            <div class="small-12 medium-3 large-3 columns">
                                                <p class="dates">
                                                    {{#if startDate}}
                                                        <span class="startDate">{{prettifyDate startDate}}</span>&nbsp;&ndash;&nbsp;
                                                    {{/if}}
                                                    {{#if endDate}}
                                                        <span class="endDate">{{prettifyDate endDate}}</span>
                                                    {{else}}
                                                        <span class="endDate">Present</span>
                                                    {{/if}}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            {{#if summary}}
                                                <div class="small-12 medium-12 large-12 columns">
                                                    <div class="lead summary">{{summary}}</div>
                                                </div>
                                            {{/if}}
                                        </div>
                                        {{#if highlights.length}}
                                            <div class="row">
                                                <div class="small-12 medium-12 large-12 columns">
                                                    <ul class="highlights">
                                                        {{#each highlights}}
                                                            <li>
                                                                {{#markdown}}{{.}}{{/markdown}}
                                                            </li>
                                                        {{/each}}
                                                    </ul>
                                                </div>
                                            </div>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            {{/if}}
            {{#if resume.education.length}}
                <div id="education">
                    <h2>Education</h2>
                    {{#each resume.education}}
                        <div  itemprop="alumniOf" itemscope itemtype="http://schema.org/OrganizationRole" class="callout-card radius secondary">
                          <meta itemprop="startDate" content="{{startDate}}" />
                          {{#if endDate}}<meta itemprop="endDate" content="{{endDate}}" />{{/if}}
                          <div itemprop="alumniOf" itemscope itemtype="http://schema.org/EducationalOrganization">
                            <div class="callout-card-content">
                                {{#if studyType}}
                                    <div class="small-6 medium-2 large-2 columns">
                                        <div class="studyType">{{studyType}}</div>
                                        {{#if gpa}}
                                            <p class="gpa">
                                                <span class="label">GPA: </span><span class="value">{{gpa}}</span>
                                            </p>
                                        {{/if}}
                                    </div>
                                {{else}}
                                    <div class="small-6 medium-2 large-2 columns"> </div>
                                {{/if}}
                                {{#if area}}
                                    <div class="small-6 medium-2 large-3 columns">
                                        <span class="area">{{area}}</span>
                                    </div>
                                {{else}}
                                    <div class="small-6 medium-2 large-3 columns">
                                    </div>
                                {{/if}}
                                {{#if institution}}
                                    <div class="small-12 medium-4 large-4 columns">
                                        <span itemprop="name" class="institution">{{#markdown}}{{institution}}{{/markdown}}</span>
                                    </div>
                                {{/if}}
                                <div class="small-6 medium-2 large-3 columns">
                                    <p class="dates">
                                        {{#if startDate}}
                                            <span class="startDate">{{prettifyDate startDate}}</span>&nbsp;&ndash;&nbsp;
                                        {{/if}}
                                        {{#if endDate}}
                                            <span class="endDate">{{prettifyDate endDate}}</span>
                                        {{else}}
                                            <span class="endDate">Present</span>
                                        {{/if}}
                                    </p>
                                </div>
                            </div>

                                {{#if courses.length}}
                                  <div class="row">
                                    <div class="small-12 columns">
                                    <ul class="courses">
                                        {{#each courses}}
                                            <li>{{.}}</li>
                                        {{/each}}
                                    </ul>
                                  </div>
                                  </div>
                                {{/if}}
                              </div>
                        </div>
                    {{/each}}
                </div>
            {{/if}}
            {{#if resume.languages.length}}
                <div id="languages">
                    <h2>Languages</h2>
                    <div class="row">
                        {{#each resume.languages}}
                            <div class="small-6 large-6 columns">
                                {{#if language}}
                                    <div class="language">
                                        {{language}}
                                    </div>
                                {{/if}}
                                {{#if fluency}}
                                    <div class="fluency">
                                        {{fluency}}
                                    </div>
                                {{/if}}
                            </div>
                        {{/each}}
                    </div>
            {{/if}}
            {{#if resume.references.length}}
                <div id="references">
                    <h2>References</h2>
                    {{#each resume.references}}
                        <div class="row">
                            <div class="item">
                                {{#if reference}}
                                    <blockquote class="reference">
                                        {{reference}}
                                    </blockquote>
                                {{/if}}
                                {{#if name}}
                                    <cite itemprop="colleague"><span itemtype="http://schema.org/Person"><span itemprop="name">{{name}}</span></span></cite>
                                {{/if}}
                            </div>
                        </div>
                    {{/each}}
                </div>
            {{/if}}
            {{#if resume.publications.length}}
                <div id="publications">
                    <h2>Publications</h2>
                    {{#each resume.publications}}
                        <div class="callout-card radius secondary">
                            <div class="callout-card-content" itemscope itemtype="http://schema.org/CreativeWork">
                                {{#if name}}
                                    <span class="name" itemprop="name">{{name}}</span>.&nbsp;&nbsp;
                                {{/if}}
                                {{#if publisher}}
                                    <span class="publisher" itemprop="publisher">{{publisher}}</span>
                                {{/if}}
                                {{#if releaseDate}}
                                    , <span class="releaseDate" datetime="{{releaseDate}}" itemprop="datePublished">{{prettifyDate releaseDate}}</span>
                                {{/if}}
                                {{#if website}}
                                    <span class="website"> &nbsp;<a itemprop="sameAs" href="{{website}}" target="_blank">{{decodeURI website}}</a></span>
                                {{/if}}
                                {{#if summary}}
                                    <div class="summary">
                                        <p itemprop="description">{{summary}}</p>
                                    </div>
                                {{/if}}
                            </div>
                        </div>
                    {{/each}}
                </div>
            {{/if}}
            </div>
        </div>
        <div class="copywrite">Copyright &copy; {{theYear}} {{resume.basics.name}}.  All rights reserved.  Free to distribute without any modifications whatsoever.</div>
</body>

</html>
